/* General Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
}

.app-logo {
  height: 150px;
  border-radius: 20%;
}

.hero {
  min-height: 100vh;
  padding-top: 20px;
  background: linear-gradient(to bottom, #3b82f6, #0ea5e9);
  color: white;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box; /* ensures padding doesn't increase size beyond viewport */
}

.hero-title {
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

.hero-subtitle {
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 0.2px;
}

.app-store-button {
  width: 200px;
  margin-bottom: 8px;
}

.play-store-button {
  width: 200px;
}

a {
  text-decoration: none;
}
